@charset "utf-8";
@import url("menu.css");
/* CSS Document */

/*body*/
html,body{/*一開始歸零*/
	padding:0;
	margin:0;
}

body{
	font-family: 'Kalam', cursive;
}

/*header*/

header{
	position:fixed;
	width:100%;
	top:0;/*置頂*/
	box-sizing:border-box;
	background:rgba(255,255,255,0.8);
	z-index:100000;
}

/*nav bar*/
nav{
	width:97%;
	margin:auto;
	text-align:center;
}

/*title*/
.title{
	position:relative;
	padding:50px 5px 10px 5px;
	display:block;
	text-align:center;
	font-size:30px;
	color:#666;
}

/*section*/
section{
	position:relative;
	width:80%;
	height:100%;
	overflow:hidden;
	margin:50px auto 0px;
	
}

.word1, .word2, .myphoto{
	position:absolute;
	box-sizing:border-box;
}

.myphoto img{		
	display:block;
	margin:auto;/*置中*/
	width:40%;
}

.word1{	
	left:5%;
	z-index:20;
	color:#FFF;
	opacity:0;/*一開始看不到*/
	
	animation-name:ant1;/*動畫名稱*/
	animation-duration:2s;/*動畫時間*/
	animation-iteration-count:1;/*播放次數*/
	animation-timing-function:ease;/*動態方式漸慢開始與結束*/
	animation-delay:0.5s;/*幾秒後播放*/
	animation-direction:normal;/*動畫播放順序為順左到右向(反向是reverse)*/
	animation-fill-mode:forwards;/*動畫結束後停格於最後一格，需搭配direction*/
	
	-webkit-animation-name:ant1;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:ease;
	-webkit-animation-delay:0.5s;
	-webkit-animation-direction:normal;
	-webkit-animation-fill-mode:forwards;
}

.word2{	
	right:3%;
	z-index:20;
	color:#FFF;
	opacity:0;/*一開始看不到*/
	
	animation-name:ant2;/*動畫名稱*/
	animation-duration:2s;/*動畫時間*/
	animation-iteration-count:1;/*播放次數*/
	animation-timing-function:ease;/*動態方式漸慢開始與結束*/
	animation-delay:1.5s;/*幾秒後播放*/
	animation-direction:normal;/*動畫播放順序為順左到右向(反向是reverse)*/
	animation-fill-mode:forwards;/*動畫結束後停格於最後一格，需搭配direction*/
	
	-webkit-animation-name:ant2;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:ease;
	-webkit-animation-delay:1.5s;
	-webkit-animation-direction:normal;
	-webkit-animation-fill-mode:forwards;
}

.word1 p, .word2 p{
	padding:0;
	margin:0;
	font-size:20px;
	line-height:35px;
	
}

@keyframes ant1{
	from{
		top:20px;
		opacity:0;
		background:#000;
	}
	/*要有空格*/
	to{
		top:50px;
		opacity:1;
		padding:20px 50px;
		background:rgba(145,181,221,0.8);
	}
}


@keyframes ant2{
	from{
		top:300px;
		opacity:0;
		background:#000;
	}
	/*要有空格*/
	to{
		top:250px;
		opacity:1;
		padding:20px 50px;
		background:rgba(145,181,221,0.8);
	}
}

/*article*/
article{
	position:relative;
	width:80%;	
	overflow:hidden;
	display:block;
	margin:auto;
	text-align:center;
	
}

article h1{
	padding:30px 0px 10px;
	color:#666;
	font-size:30px;
}

.imgbox{
	display:inline-block;
	box-sizing:border-box;
	width:30%;
	margin:10px;
	overflow:hidden;
	box-shadow:2px 2px 8px #999;
	cursor:pointer;
}

.box img{
	width:100%;
	overflow:hidden;
	text-align:center;
	
}

.box .imgbox img{
	-ms-transform:scale(1,1);/*IE 9*/
	-webkit-transform:scale(1,1);/*Safari*/
	transform:scale(1,1);/*Standard syntax*/
	
	transition:transform 1s;
	-webkit-transform:transform 1s;
	
	transition-timing-function:ease-in-out;
	-webkit-transition-timing-function:ease-in-out;/*Safari*/
}

.imgbox:hover img{
	-ms-transform:scale(1.5,1.5);/*IE 9*/
	-webkit-transform:scale(1.5,1.5);/*Safari*/
	transform:scale(1.5,1.5);/*Standard syntax*/
}

/*footer*/
footer{
	position:relative;
	clear:both;
	padding:20px 0px 8px;
}
footer p{		
	text-align:center;
	font-size:13px;
	color:#666;
}

footer .icon{		
	display:block;
	margin:auto;/*置中*/
	text-align:center;
}


